html {
    position: relative;
    min-height: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    margin-bottom: 45px;
}

.card-header {
    background-color: rgb(250, 128, 114);
    color: rgb(255, 255, 255);
}

footer {
    position: absolute;
    bottom: 0;
    height: 45px;
    text-align: center;
    width: 100%;
    background-color: rgb(192, 192, 192);
}

footer small {
    line-height: 40px;
    font-size: 12px;
}